---
import H1 from "../components/h1.astro";
import Layout from "../layouts/Layout.astro";
import { PROJECT } from "shared/config";
---

<Layout
  title={`${PROJECT.TITLE} | Classement`}
  description={PROJECT.DESCRIPTION}
>
  <H1 title="Classement des utilisateurs" />

  <div class="overflow-x-auto w-full max-w-full mt-4">
    <table class="table table-zebra text-base">
      <thead class="sticky top-0 bg-base-200 z-10">
        <tr>
          <th class="text-right">Rang</th>
          <th>Utilisateur</th>
          <th class="text-right">Durée totale</th>
          <th>Pays</th>
          <th>Région</th>
          <th>Sous-région</th>
        </tr>
      </thead>
      <tbody id="ranking-list"></tbody>
    </table>
  </div>
</Layout>

<script>
  import { supabase } from "../lib/supabase";
  import { formatDuration } from "shared/utils/formatDuration";

  async function fetchRanking() {
    const rankingList = document.getElementById("ranking-list");
    if (!rankingList) return;

    const { data, error } = await supabase
      .from("users")
      .select("username, total_duration, country, region, subregion")
      .order("total_duration", { ascending: false });

    if (error) {
      console.error("Erreur Supabase :", error);
      rankingList.innerHTML = `<tr><td colspan="6">Erreur de chargement du classement.</td></tr>`;
      return;
    }

    if (data) {
      rankingList.innerHTML = data
        .map((user, index) => {
          const totalDuration = user.total_duration || 0;

          return `
            <tr class="hover cursor-pointer">
              <th class="text-right">${index + 1}</th>
              <td>${user.username || "Utilisateur anonyme"}</td>
              <td class="text-right">${formatDuration(totalDuration)}</td>
              <td>${user.country || "-"}</td>
              <td>${user.region || "-"}</td>
              <td>${user.subregion || "-"}</td>
            </tr>
          `;
        })
        .join("");
    }
  }

  fetchRanking();
</script>
