---
const { title } = Astro.props;
---

<h1
  class="text-3xl font-extrabold text-center pb-6 bg-gradient-to-r from-secondary/60 via-secondary to-secondary/60 bg-clip-text text-transparent"
>
  {title}
</h1>
