---
import { PROJECT } from "shared/config";
---

<header class="py-10 flex justify-center">
  <a href="/">
    <img
      src="/logo.png"
      alt={PROJECT.TITLE}
      class="w-24 h-24 lg:w-full lg:h-full inline-block"
    />
  </a>
</header>
