---
import { PROJECT } from "shared/config";
import H1 from "./h1.astro";
---

<div class="hero">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <H1 title={`Bienvenue sur ${PROJECT.TITLE}`} />
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p>
      <a href="/" class="btn btn-soft bg-accent text-dark rounded-full"
        >Télécharger l'application</a
      >
      <a href="/ranking" class="btn btn-soft bg-accent text-dark rounded-full"
        >Voir le classement</a
      >
    </div>
  </div>
</div>
